body{
    background-color: rgba(0, 183, 255, 0.486);
}

h1{
    color: rgb(41, 10, 151);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(205, 230, 177);
}

p{
    color: red;
    font-family: arial;
    background: blue;
    font-size: 20px;
}
#atencao{
    color: red;
font-family:impact;
background:lightblue
}