body{
    background-color: rgba(0, 183, 255, 0.486);
}

h1{
    color: rgb(41, 10, 151);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p{
    color: rgb(34, 6, 6);
    font-family: arial;
    font-size: 30px;
}
#atencao{
    color: rgb(19, 2, 2);
font-family:impact;
background:rgba(197, 18, 33, 0.555)
}