body{
    background-color: aqua;
}

h1{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: yellow;
}

p{
    color: red;
    font-family: arial;
    background: blue;
    font-size: 20px;
}
#atencao{
    color: red;
font-family:impact;
background:lightblue

}